/*universal styles*/
* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
	width: 100%;
	font-family: courier;
	background-color:;
}

a {
	text-decoration: none;
	color: inherit;
	transition:0.3s;
}
a:hover {
	color: red;
}

.hover {
	transition:0.3s;
}

.hover:hover {
	color: red;
}


hr{
	margin: 1em 0;
}

/*universal styles*/



/*start header*/

header {
	background-color: #DCDCDC;
	height: 100%;
	width: 20%;
	padding: 1.5em;
	position: fixed;
	float:left;
	transition:0.3s;
	color: #696969;
	text-align: center;
}

header h1 {
	font-size: 1.9em;
	text-transform: uppercase;
}


#pic{
	background-image:url('images/marcel/profile.png');
	background-size: 100%;
	background-repeat: no-repeat;
	border: solid white 3px;
	border-radius: 50%;
	height: 30%;
	width: 80%;
	text-align: center;
	margin: auto;
	transition: 0.3s;
}
#pic:hover{
	background-image:url('images/marcel/smile.png');
}

.contacts {
	height: 20px;
}

header table {
	text-align: justify;
	font-size: .9em;
	margin-top: .5em;
}

header:hover {
	box-shadow: 1px 0 1em red;
}

/*end header*/



/*start center*/

#center {
	text-align: center;
	right: 30em;
	width: 40%;
	position: absolute;
	left: 33em;
}

section {
	margin: 1em;
	width: 100%;
	background-color: #DCDCDC;
	color: #696969;
	border-radius: 25px;
	padding: 1em;
	text-align:left;
	box-shadow: 4px 4px;
	transition:0.3s;
}

section img {
	width: 100%;
	height: 100%;
}

section:hover {
	box-shadow: 0 0 .9em red;
}

section span {
	color: red;
}

section h1 {
	border-bottom:3px solid #696969;
	width:100%;
}

section h3 {
	color:#696969;
}

section p {
	line-height: 1.5em;
}

section div{
	text-align:justify;
	padding: 1em 0 1em 3em;
}

.sigh{
	padding: 0 0 0 3em;
}

section div ul li {
	padding: .1em 0;
}

.no {
	width: 15em;
	margin: 1em 0 1em 8em;
}

ul {
	list-style-type: square;
}

ul ul {
	padding-left: 2.5em;
	list-style-type: none;
}

.spaghetti {
	text-indent: 50px;
}

section table {
	width:100%;
	border: none;
	border-spacing: .3em;

}

section th {
	text-align: center;
}


td:hover {
	color:red;
}

section th {
	text-transform: uppercase;
	letter-spacing: 6px;
}

progress {
	transition:0.3s;
}

progress[value] {
  /* Reset the default appearance */
	-webkit-appearance: none;
	appearance: none;
}

progress[value]::-webkit-progress-bar {
	background-color: #eee;
	border-radius: 2px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
	background-image:linear-gradient(to right, crimson, 90%, red);
	border-radius: 4px; 
}
	
progress:hover {
	box-shadow: 0 0 .5em red;
}

/*end center*/



/*start aside*/

aside {
	border-radius: 50px 0 0 50px;
	background-color: #DCDCDC;
	height: 38%;
	width: 10em;
	position: fixed;
	right: 0px;
	top: 30%;
	transition:0.3s;
}

aside img {
	width: 100%;
}

aside div {
	padding: 1.7em 1em 1em 1em;
	color: #696969;
}

aside div ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: right;
}

aside div li a {
	display: block;
	color: #696969;
}

aside:hover {
	box-shadow: 0 0 .5em red;
}

/*end aside*/

